<div id="booking" class="section">
    <a routerLink="/home"><img src="../assets/images/logo.png" alt="" class="logo"></a>
    <div class="oneway-container">
      <h2 style="text-align: center;">FLIGHT DETAILS</h2>
      <div class="route-details">
        <div class="box">
          <h4>From</h4>
          <p>{{ fromPlace }} {{ fromCode}}</p>
        </div>
        <div class="box">
          <h4>To</h4>
          <p>{{ toPlace }} {{toCode}}</p>
        </div>
      </div>
  
      <div class="routes">
        <div class="route" *ngFor="let route of flightRoutes">
          <div class="flight-info">
            <img [src]="route.airlineLogo" alt="Airline Logo" class="airline-logo" />
            <div class="details">
              <h3>{{ route.airlineName }}</h3>
              <p>{{ route.airlineCode }}</p>
              <p>{{ route.isLowCost ? 'Low Cost' : 'Regular' }}</p>
              <p>Departure: {{ route.departureDate }}</p>
            </div>
            
          </div>
          <div>
            <button class="choose-button">Choose</button>
          </div>
          <div *ngIf="flightRoutes.length === 0" class="no-routes-message">
            <p>No flight routes available for the selected criteria.</p>
          </div>
          
        </div>
      </div>
    </div>
  </div>